.contenedor{
    background-color: blueviolet;
    display: grid;
    gap:10px ;
    padding: 10px;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}

.elemento{
    background-color: purple;
    border-radius: 6px;
    box-shadow: 4px 4px 4px black,
    inset 3px 3px 2px white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 40px;
}
